[worldserver]
#
###################################################################################################

###################################################################################################
#   ANTICHEAT MODULE
#
#     Anticheat.Enable
#       说明:启用或禁用防作弊系统功能
#       Default:     1 - (Enabled)
#                    0 - (Disabled)

Anticheat.Enabled = 1

#     Anticheat.EnabledOnGmAccounts
#       说明:开启对GM帐号的检测
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.EnabledOnGmAccounts = 0

#     Anticheat.ReportsForIngameWarnings
#       说明：玩家在生成新报告时必须通知GameMasters游戏中的报告数量
#       Default:     70

Anticheat.ReportsForIngameWarnings = 70

#     Anticheat.MaxReportsForDailyReport
#       说明：玩家每天必须报告多少份报告（不只是在玩家会话期间）在数据库中
#       Default:     70

Anticheat.MaxReportsForDailyReport = 70

#     Anticheat.ReportinChat
#       Description: 触发 gm 聊天消息垃圾邮件的最小和最大总报告。
#       Default:     因此，70 是最小值，80 是最大值，它会在聊天中向 gm 发送垃圾邮件 10 次。
# Anticheat.ReportinChat.Min = 70
# Anticheat.ReportinChat.Max = 80

Anticheat.ReportinChat.Min = 70
Anticheat.ReportinChat.Max = 80

#     Anticheat.AlertFrequency
#       Description: 一旦满足游戏内警告和图表最小值报告，这将限制每隔一个计数向 gms 发出警报
#       Default:     因此，默认值为 1，您将收到每 1 次违规的消息警报。
#       Anticheat.AlertFrequency = 1

Anticheat.AlertFrequency = 1

#     Anticheat.LoginMessage
#       说明：启用登录消息“此服务器正在运行防作弊模块。”
#       Default: 1 

Anticheat.LoginMessage = 0

#     Anticheat.WriteLog
#       说明:当发现玩家使用黑客手段时，启用写入日志功能
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.WriteLog = 0

#     Anticheat.SaveReportsTime
#       描述:设置每个报告保存之间的时间，单位为秒
#       Default:    60 - (seconds)

Anticheat.SaveReportsTime = 60

#     Anticheat.Detect
#       说明：它表示启用了哪些检测（默认情况下禁用ClimbHack）
#       Default:    1 - (Enabled)
#                   0 - (Disabled)

Anticheat.DetectFlyHack = 1
Anticheat.DetectWaterWalkHack = 1
Anticheat.DetectJumpHack = 1
Anticheat.DetectTelePlaneHack = 1
Anticheat.DetectSpeedHack = 1
Anticheat.DetectClimbHack = 1
Anticheat.DetectTelePortHack = 1
Anticheat.IgnoreControlHack = 1
Anticheat.DetectZaxisHack =1
Anticheat.AntiSwimHack = 1
Anticheat.DetectGravityHack = 1
Anticheat.AntiKnockBack = 1

#     Anticheat.StricterFlyHackCheck
#       Description: 检查 moveflag 升序（可能给出误报）
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.StricterFlyHackCheck = 0

#     Automatic Moderation Features
#
#     Anticheat.KickPlayer
#     Anticheat.ReportsForKick
#
#       Description: 报告达到阈值时启用并自动启动
#       Default:    0 - (Disabled)
#                   1 - (Enabled)
#       Default:    70 - (Kick at 70 auto reports)
#

Anticheat.KickPlayer = 0
Anticheat.ReportsForKick = 70

#     Anticheat.BanPlayer
#     Anticheat.ReportsForBan
#
#       Description: 当报告达到阈值时启用并自动禁止
#       Default:    0 - (Disabled)
#                   1 - (Enabled)
#       Default:    70 - (Kick at 70 auto reports)
#

Anticheat.BanPlayer = 0
Anticheat.ReportsForBan = 70

#     Anticheat.JailPlayer
#     Anticheat.ReportsForJail
#
#       Description: 当报告达到阈值时启用和自动越狱
#       Default:    0 - (Disabled)
#                   1 - (Enabled)
#       Default:    70 - (Kick at 70 auto reports)
#

Anticheat.JailPlayer = 0
Anticheat.ReportsForJail = 70

#     Anticheat.AnnounceKick
#     Anticheat.AnnounceBan
#     Anticheat.AnnounceJail
#       Description: 当用户踢出、禁止、入狱时向所有玩家发送消息。
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.AnnounceKick = 0
Anticheat.AnnounceBan = 0
Anticheat.AnnounceJail = 0
