[worldserver]
#
###################################################################################################

###################################################################################################
#   ANTICHEAT MODULE
#
#     Anticheat.Enable
#       说明:启用或禁用防作弊系统功能
#       Default:     1 - (Enabled)
#                    0 - (Disabled)

Anticheat.Enabled = 1

#     Anticheat.EnabledOnGmAccounts
#       说明:开启对GM帐号的检测
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.EnabledOnGmAccounts = 0

#     Anticheat.ReportsForIngameWarnings
#       说明：玩家在生成新报告时必须通知GameMasters游戏中的报告数量
#       Default:     70

Anticheat.ReportsForIngameWarnings = 70

#     Anticheat.MaxReportsForDailyReport
#       说明：玩家每天必须报告多少份报告（不只是在玩家会话期间）在数据库中
#       Default:     70

Anticheat.MaxReportsForDailyReport = 70

#     Anticheat.LoginMessage
#       说明：启用登录消息“此服务器正在运行防作弊模块。”
#       Default: 1 

Anticheat.LoginMessage = 0

#     Anticheat.WriteLog
#       说明:当发现玩家使用黑客手段时，启用写入日志功能
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.WriteLog = 0

#     Anticheat.SaveReportsTime
#       描述:设置每个报告保存之间的时间，单位为秒
#       Default:    60 - (seconds)

Anticheat.SaveReportsTime = 60

#     Anticheat.Detect
#       说明：它表示启用了哪些检测（默认情况下禁用ClimbHack）
#       Default:    1 - (Enabled)
#                   0 - (Disabled)

Anticheat.DetectFlyHack = 1
Anticheat.DetectWaterWalkHack = 1
Anticheat.DetectJumpHack = 1
Anticheat.DetectTelePlaneHack = 1
Anticheat.DetectSpeedHack = 1
Anticheat.DetectClimbHack = 1

#     Anticheat.StricterFlyHackCheck
#       Description: Checks moveflag ascending (may give false positives)
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.StricterFlyHackCheck = 0

#     Anticheat.KickPlayerFlyHack
#       说明：首次检测flyhack的踢选项（可能会产生误报）
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.KickPlayerFlyHack = 0

#     Anticheat.KickPlayerWaterWalkHack
#       说明：首次检测到waterwalkhack的踢选项（可能会带来误报）
#       Default:    0 - (Disabled)
#                   1 - (Enabled)

Anticheat.KickPlayerWaterWalkHack = 0

#     Anticheat.AnnounceKick
#       说明：当用户被踢时向所有玩家发送消息
#       Default:    0 - (Disabled)
#     
Anticheat.AnnounceKick = 1
